<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuhll.hl.auth.mapper.FileMapper">
  <resultMap id="BaseResultMap" type="com.liuhll.hl.auth.domain.entity.File">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" jdbcType="BIGINT" property="id" />
    <result column="Code" jdbcType="VARCHAR" property="code" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="FIleName" jdbcType="VARCHAR" property="FIleName" />
    <result column="FilePath" jdbcType="VARCHAR" property="filePath" />
    <result column="Memo" jdbcType="VARCHAR" property="memo" />
    <result column="Status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>