<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuhll.hl.auth.mapper.FunctionMapper">
  <resultMap id="BaseResultMap" type="com.liuhll.hl.auth.domain.entity.Function">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" jdbcType="BIGINT" property="id" />
    <result column="Code" jdbcType="VARCHAR" property="code" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="WebApi" jdbcType="INTEGER" property="webApi" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="Method" jdbcType="INTEGER" property="method" />
    <result column="ParentId" jdbcType="BIGINT" property="parentId" />
    <result column="Memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>
</mapper>