<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuhll.hl.auth.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.liuhll.hl.auth.domain.entity.Menu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" jdbcType="BIGINT" property="id" />
    <result column="Code" jdbcType="VARCHAR" property="code" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="UrlPath" jdbcType="INTEGER" property="urlpath" />
    <result column="ParentId" jdbcType="BIGINT" property="parentid" />
    <result column="Level" jdbcType="INTEGER" property="level" />
    <result column="Mold" jdbcType="INTEGER" property="mold" />
    <result column="Icon" jdbcType="VARCHAR" property="icon" />
    <result column="FrontEndComponent" jdbcType="VARCHAR" property="frontendcomponent" />
    <result column="Sort" jdbcType="INTEGER" property="sort" />
    <result column="Memo" jdbcType="VARCHAR" property="memo" />
    <result column="Status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>